@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Dark mode disable */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* Form Fix */
input,
textarea,
select {
  background: #ffffff;
  color: #0f172a;
}

input::placeholder,
textarea::placeholder {
  color: #94a3b8;
}

/* Select option color */
option {
  color: #0f172a;
  background: #ffffff;
}